worker_processes 1;
error_log stderr;
pid nginx.pid;
daemon off;

events {
  worker_connections 768;
} 

http {
  include mime.types;
  server {
    listen <%= ENV['PORT'] %>;
    server_name  _;
    root /app/build;
    index index.html;

    location /favicon.ico {
      alias /app/build/static/images/favicon.ico;
      expires 1d;
      access_log off;
    }

    location /robots.txt {
      alias /app/build/static/robots.txt;
      expires 1d;
      access_log off;
    }

    location /humans.txt {
      alias /app/build/static/humans.txt;
      expires 1d;
      access_log off;
    }

    location /fbchannel.html{
      alias /app/build/static/fbchannel.html;
      expires 1d;
      access_log off;
    }
  }
}
